.disp-flex {
    display: flex;
}

.flex-dir-col {
    flex-direction: column;
}

.form-title {
    font-weight: 600;
    margin-bottom: 2rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.form-field input,
.form-field textarea,
.form-field select {
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    padding: 0 5px;
}

.form-field input,
.form-field select {
    height: 2rem;
}

.form-buttons {
    display: flex;
    justify-content: end;
}

.canc-button {
    text-decoration: none;
    text-align: center;
    background-color: #999;
    color: var(--white-color);
    padding: 5px 0px;
    border-radius: 5px;
    width: 6rem;
    align-self: end;
    border: none;
}

.submit-button {
    background-color: var(--light-green);
    color: var(--white-color);
    padding: 5px 0px;
    border-radius: 5px;
    width: 6rem;
    align-self: end;
    border: none;
    margin-left: 1rem;
}

#id_criar_rascunho_0,
#id_criar_rascunho_1 {
    height: auto;
    margin-top: 1rem;
}
