:root {
    --dark-green: #21642c;
    /*--light-green: #00ae67;*/
    --light-green: #21642c;
    --white-color: #f7f7f7;
    --fourth-color: ;
    --fifth-color: ;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--white-color);
}

#logout-button {
    position: fixed;
    right: 10px;
    background-color: var(--light-green);
    color: var(--white-color);
    width: 85px;
    height: 35px;
    border-radius: 5px;
    top: 105px;
    justify-content: center;
    align-items: center;
    border: none;
}

.active {
    display: flex;
}

.inactive-button {
    display: none;
}

/* --------------- Configurações NAVBAR --------------- */

#navbar {
    background-color: var(--white-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    transition: all 0.5s ease;
}

#navbar.scrolled {
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

#logo-nav-bar {
    text-decoration: none;
    font-size: 2rem;
    color: var(--dark-green);
    padding: 0.4rem 0rem;
    width: 8rem;
    margin-left: 1.2rem;
}

#logo-nav-bar img {
    max-width: -webkit-fill-available;
}

#navbar-links {
    margin-right: 1.2rem;
}

#navbar-links-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-li {
    list-style: none;
    margin-left: 10px;
}

.navbar-link {
    text-decoration: none;
    color: var(--dark-green);
    padding: 1.2rem;
    display: block;
    font-size: 1.2rem;
}

.navbar-li:hover {
    background-color: rgba(33, 100, 44, 0.3);
}

#toggle-button {
    position: absolute;
    right: 2rem;
    top: 35px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    padding: 3px;
    border: none;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: var(--light-green);
    border-radius: 5px;
}



/* ---------------------------------------------------- */

/* --------------- Configurações MAIN CONTENT --------------- */

#main-content {
    width: 100%;
    background-color: var(--white-color);
    position: relative;
    top: 96.7px;
    padding-bottom: 96.7px;
}


#top-image-div {
    /*height: 80vh;*/
    height: 600px; /* Teste de sugestão do Roger para correção de problema em telas pequenas. */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#top-message {
    width: 20rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: var(--white-color);
    padding: 25px;
}

#top-message h2 {
    margin-bottom: 2rem;
}

#our-services {
    /*height: 35rem;*/
    display: flex;
    justify-content: space-evenly;
    padding: 2% 10%;
}

#our-services-div {
    width: 35%;
    text-align: justify;
    color: var(--dark-green);
}

#our-services-title {
    color: var(--dark-green);
    font-weight: 600;
}

#our-services-text {
    margin-top: 5%;
}

#slider {
    width: 45%;
    max-width: 45%;
    position: relative;
    overflow: hidden;

}

.slide {
    width: 100%;
    max-width: 100%;
    position: absolute;
    transition: all 0.8s;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    align-items: center;
}

.slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: 200px;
}

.slide-title {
    margin-top: 5%;
    color: var(--dark-green);
}

.text-slide {
    text-align: center;
    color: var(--light-green);
}

.btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

.btn-next i, .btn-prev i {
    -webkit-text-stroke: 1px;
    color: var(--light-green);
}

#about-consultant {
    padding: 5% 10%;
    display: flex;
}

#about-consultant-img {
    width: 45%;
    margin-right: 4rem;
    border-radius: 20px;
    object-fit: cover;
}

#about-consultant-title {
    color: var(--dark-green);
    font-weight: 600;
}

#about-consultant-text {
    color: var(--dark-green);
    margin-top: 5%;
    text-align: justify;
}

#beneficios {
    padding: 5% 10%;
    display: flex;
    justify-content: space-evenly;
}

#benecifios-titulo {
    width: 35%;
    font-weight: 600;
    color: var(--dark-green);
}

#lista-beneficios {
    width: 45%;
}

.titulo-lista-beneficios {
    color: var(--dark-green);
}

.texto-lista-beneficios {
    color: var(--dark-green);
    margin-bottom: 1.5rem;
    text-align: justify;
}

#mais-infos {
    /*height: 80vh;*/
    height: 600px; /* Teste de sugestão do Roger para correção de problema em telas pequenas. */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#mais-infos-bg {
    padding: 5% 10%;
    height: 100%;
    background-color: rgba(33, 100, 44, .3);
}

#mais-infos-text {
    width: 40%;
    color: var(--white-color);
}

/* ---------------------------------------------------------- */

/* --------------- Configurações FOOTER --------------- */

#footer {
    padding: 3% 4% 4% 4%;
    width: 100%;
    background-color: var(--light-green);
    position: relative;
    z-index: 1;
    margin-top: auto;
}

#top-footer {
    display: flex;
    justify-content: space-between;
}

#infos-footer {
    display: flex;
    min-width: 50%;
}

#logo-div {
    width: 20%;
    display: inline-flex;
    flex-direction: column;
    margin-right: 3rem;
    justify-content: space-between;
}

#logo-footer {
    margin-bottom: 1rem;
}

#hr-footer {
    color: var(--white-color);
}

#soc-net-links {
    display: flex;
    justify-content: space-between;
}

.soc-net-icon {
    font-size: 1.5rem;
    color: var(--white-color);
    line-height: 0;
}

.footer-title {
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.links-div-footer {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.link-div-footer {
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 0.5rem;
}

#contact-div {
    margin-left: 3rem;
}

.contact-info {
    color: var(--white-color);
    margin: 0;
}

#form-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 25%;
    justify-content: end;
    margin-left: 3rem;
}

#email-form {
    width: 100%;
}

#label-email-form {
    color: var(--white-color);
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

#id_email {
    height: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    min-width: 68%;
    padding: 0 5px;
}

#input-button {
    min-width: fit-content;
    margin: 5px 0;
    padding: 0 5px;
    height: 2rem;
    border-radius: 5px;
    width: 30%;
    background-color: var(--light-green);
    color: var(--white-color);
    border: 1px solid white;
}

#input-button:hover {
    background-color: var(--white-color);
    color: var(--dark-green);
}

#form-text {
    color: var(--white-color);
    margin: 1rem 0 0 0;
}

@media screen and (max-width: 1100px) {
        #top-footer {
            flex-direction: column;
        }

        #form-footer {
            display: flex;
            width: 70%;
            margin: 5% auto;
        }

        #infos-footer {
            justify-content: center;
        }
}

@media screen and (max-width: 850px) {
            #logo-div {
                width: 30%;
            }

            #logo-div {
                margin-right: 0;
            }

            #about-consultant {
                flex-direction: column;
                padding: 5%;
            }

            #about-consultant-img {
                width: 100%;
                margin-bottom: 5%;
            }

            #our-services {
                flex-direction: column;
                justify-content: start;
                padding: 5%;
            }

            #our-services-div {
                width: 100%;
            }

            #slider {
                width: 100%;
                max-width: 100%;
                margin-top: 1rem;
            }

            #beneficios {
                flex-direction: column;
                padding: 5%;
            }

            #benecifios-titulo {
                margin-bottom: 5%;
            }

            #lista-beneficios {
                width: 100%;
            }

            #mais-infos-bg {
                padding: 5%;
            }
}

@media screen and (max-width: 750px) {
                #toggle-button {
                    display: flex;
                    top: 20px;
                }

                #logout-button {
                    top: 85px;
                }

                #logo-nav-bar {
                    width: 6rem;
                }

                #main-content {
                    padding-bottom: 0;
                }

                #main-content, #footer {
                    top: 75.2px;
                }

                /*#top-image-div, #mais-infos {
                    background-attachment: unset;
                }*/

                #top-message h2 {
                    font-size: 1.4rem;
                }

                #top-message h4 {
                    font-size: 1.1rem;
                }

                #navbar {
                    flex-direction: column;
                    align-items: flex-start;
                }

                #navbar-links {
                    display: none;
                    width: 100%;
                }

                #navbar-links-list {
                    flex-direction: column;
                    width: 100%;
                }

                .navbar-li {
                    text-align: center;
                }

                .navbar-link {
                    padding: 0.7rem;
                }

                #navbar-links.active {
                    display: flex;
                }

                #logout-button.inactive-button {
                    display: none;
                }

                #top-message {
                    width: 15rem;
                    height: 18rem;
                    top: 5%;
                    transform: translateY(0);
                }

                #mais-infos-text {
                    width: 55%;
                }

                #top-footer {
                    flex-direction: column;
                }

                #infos-footer {
                    flex-direction: column;
                }

                #logo-div {
                    margin: 5% auto;
                    width: 50%;
                }

                #servicos-footer {
                    margin: 5% 0;
                }

                .links-div-footer {
                    margin: 0;
                }

                .footer-title {
                    margin-bottom: 0.5rem;
                }

                #atalhos-footer {
                    margin: 5% 0;
                }

                #contact-div {
                    margin: 5% 0;
                }

                #form-footer {
                    width: 100%;
                    margin: 5% 0;
                }
}
