:root {
    --dark-green: #18340c;
    /*--light-green: #00ae67;*/
    --light-green: #21642c;
    --white-color: #f7f7f7;
    --fourth-color: ;
    --fifth-color: ;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#body {
    /*background-color: var(--dark-green);*/
    /*padding: 2rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- Configurações NAVBAR --------------- */

#navbar {
    /*background-color: rgba(33, 100, 44);*/
    background-color: var(--white-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0 2rem;
    z-index: 2;
}

#logo-nav-bar {
    width: 80px;
}

#navbar-links {
    width: 35%;
    display: flex;
    justify-content: space-between;
}

.navbar-link {
    text-decoration: none;
    color: var(--dark-green);
    font-size: 1.2rem;
    align-self: center;
}

/* ---------------------------------------------------- */

/* --------------- Configurações MAIN CONTENT --------------- */

#main-content {
    width: 100%;
    background-color: var(--white-color);
    position: relative;
    top: 80px;
}


#top-image-div {
    height: 30rem;
    background-image: url(../img/header-photo2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#top-image {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    position: fixed;
}

/*#middle-nav {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    *//*background-color: var(--light-green);*//*
    display: inline-flex;
    width: 55%;
    justify-content: space-evenly;
}

.middle-nav-item {
    text-decoration: none;
    color: var(--white-color);
    width: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    font-size: 2.5rem;
    padding: 8% 0;
    border-radius: 5px;
    border: 5px solid white;
}*/

#our-services-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4%;
    background-color: var(--white-color);
    position: relative;
    z-index: 1;
}

#our-services-links {
    display: flex;
    width: 40%;
    margin: 2rem auto;
    justify-content: space-between;
}

.service-link {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 24%;
    text-decoration: none;
    color: var(--dark-green);
    border-radius: 10px;
    padding: 0.5rem;
}

.service-icon {
    font-size: 3rem;
    color: var(--light-green);
}

#about {
    padding: 4%;
    display: flex;
}

#about-img {
    width: 45%;
    margin-right: 4rem;
    border-radius: 20px;
}

#about-text-div {}

#about-text {
    color: var(--dark-green);
    margin-top: 10%;
}

#mais-infos {
    height: 25rem;
    /*background-color: var(--white-color);
    position: relative;
    z-index: 1;*/
    background-image: url(../img/background03.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#mais-infos-bg {
    padding: 4%;
    height: 100%;
    background-color: rgba(33, 100, 44, .3);
}

#mais-infos-text {
    width: 40%;
    color: var(--white-color);
}

/* ---------------------------------------------------------- */

/* --------------- Configurações FOOTER --------------- */

#footer {
    padding: 3% 4% 4% 4%;
    width: 100%;
    background-color: var(--light-green);
    position: relative;
    top: 80px;
    z-index: 1;
}

#top-footer {
    display: flex;
    justify-content: space-between;
}

#infos-footer {
    display: flex;
}

#logo-div {
    display: inline-flex;
    flex-direction: column;
    margin-right: 3rem;
    justify-content: space-between;
}

#logo-footer {
    height: 8rem;
    margin-bottom: 1rem;
}

#hr-footer {
    color: var(--white-color);
}

#soc-net-links {
    display: flex;
    justify-content: space-between;
}

.soc-net-icon {
    font-size: 1.5rem;
    color: var(--white-color);
    line-height: 0;
}

.footer-title {
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.links-div-footer {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.link-div-footer {
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 0.5rem;
}

#contact-div {
    margin-left: 3rem;
}

.contact-info {
    color: var(--white-color);
    margin: 0;
}

#form-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 25%;
    justify-content: end;
}

#email-form {
    width: 100%;
}

#label-email-form {
    color: var(--white-color);
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

#email-input {
    height: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    width: 68%;
    padding: 0 5px;
}

#input-button {
    height: 2rem;
    border-radius: 5px;
    width: 30%;
    background-color: var(--light-green);
    color: var(--white-color);
    border: 1px solid white;
}

#input-button:hover {
    background-color: var(--white-color);
    color: var(--dark-green);
}

#form-text {
    color: var(--white-color);
    margin: 1rem 0 0 0;
}
