h1 {
    font-weight: 600;
    margin-bottom: 2rem;
}

#new-pub-link {
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--light-green);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.newsletter-box-link {
    text-decoration: none;
    color: black;
}

.newsletter-box {
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: rgba(33, 100, 44, 0.05);
    border-bottom: 5px solid var(--light-green);
    border-right: 5px solid var(--light-green);
}

.newsletter-box:hover {
    background-color: rgba(33, 100, 44, 0.1);
}

.adit-info-newsletter {
    display: flex;
}

.newsletter-author,
.newsletter-date,
.newsletter-read-time {
    margin-right: 1rem;
    color: gray;
}

@media screen and (max-width: 850px) {
    .adit-info-newsletter {
        flex-direction: column;
    }
}
