#news-form {
    display: flex;
    flex-direction: column;
}

.news-form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.news-form-field input,
.news-form-field textarea {
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    padding: 0 5px;
}

.news-form-field input {
    height: 2rem;
}

#form-buttons {
    display: flex;
    justify-content: end;
}

.botao-cancelar {
    text-decoration: none;
    text-align: center;
    background-color: red;
    color: var(--white-color);
    padding: 5px 0px;
    border-radius: 5px;
    width: 6rem;
    align-self: end;
    border: none;
}

#submit-news-button {
    background-color: var(--light-green);
    color: var(--white-color);
    padding: 5px 0px;
    border-radius: 5px;
    width: 6rem;
    align-self: end;
    border: none;
    margin-left: 1rem;
}
