DATABASE_URL = postgres://postuser:postpass@localhost:5432/postgres
ALLOWED_HOSTS =
DEBUG =
SECRET_KEY = secret
INTERNAL_IPS = 127.0.0.1
CSRF_TRUSTED_ORIGINS =
SENTRY_DSN =

# Configurações do AWS
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_STORAGE_BUCKET_NAME =

# Armazenamento de mediafiles customizado (público) no AWS
CKEDITOR_5_FILE_STORAGE = mcfields.base.storages.PublicMediaStorage

# Configurações SENDGRID. Manter algum valor numérico nas variáveis NEWSLETTER_SUPPRESSION_GROUP_ID e SENDER_ID,
# caso contrário testes automáticos no GitHub Actions podem falhar.
SENDGRID_API_KEY =
SENDGRID_NEWSLETTER_LIST_ID =
NEWSLETTER_SUPPRESSION_GROUP_ID = 123
SENDER_ID = 123
SENDGRID_NEWSLETTER_DESIGN_ID =