[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytest-django = "*"
psycopg2-binary = "*"
python-decouple = "*"
dj-database-url = "*"
django-debug-toolbar = "*"
gunicorn = "*"
collectfast = "*"
sentry-sdk = {extras = ["django"], version = "*"}
sendgrid = "*"
django-ckeditor-5 = "*"
django-ordered-model = "*"
django-storages = {extras = ["s3"], version = "*"}

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"
model-bakery = "*"

[requires]
python_version = "3.11"
