#service-title {
    margin-bottom: 2rem;
    font-weight: 600;
}

#service-content {
    font-size: 1.1rem;
}

#service-content figure {
    width: 100%;
    height: 30rem;
    padding: 1rem;
}

#service-content figure img {
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    object-fit: contain;
}