{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'newsletter/css/detalhe_newsletter.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/pag_detalhes.css' %}">
{% endblock css %}

{% block title %}
    <title>McField's - {{ newsletter.title }}</title>
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-content-newsletter-det">
        {% if perms.newsletter.change_newsletter %}
            <a class="update-link" href="{{ newsletter.get_edition_url }}">Editar</a>
        {% endif %}
        {% if perms.newsletter.delete_newsletter %}
            <a class="removal-link" href="{{ newsletter.get_removal_url }}">Remover</a>
        {% endif %}
        <h1 class="title">{{ newsletter.title }}</h1>
        <h5 id="newsletter-intro">{{ newsletter.intro|linebreaks }}</h5>
        <div id="newsletter-subject">{{ newsletter.subject }}</div>
        <div id="news-adit-info">
            <div id="newsletter-author">{{ newsletter.author }}</div>
            <div id="news-pub-date">{{ newsletter.pub_date|date:"d/m/Y" }}</div>
        </div>
        <hr id="hr-main-content">
        <div id="newsletter-content">{{ newsletter.content|safe|linebreaks }}</div>
    </div>
{% endblock maincontent_2 %}
