{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/formularios.css' %}">
{% endblock css %}

{% block title %}
    {% if newsletter.id %}
        <title>McField's - Edição de Newsletter</title>
    {% else %}
        <title>McField's - Nova Newsletter</title>
    {% endif %}
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-content-post-newsletter">
        {% if newsletter.id %}
            <h1 class="form-title">Edição da Newsletter "{{ newsletter.title }}"</h1>
        {% else %}
            <h1 class="form-title">Nova Newsletter</h1>
        {% endif %}
        <form action="" method="POST" class="disp-flex flex-dir-col">
            {% csrf_token %}
            {{ form.media }}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }} {{ field }}
                    <p class="errornote">{{ field.errors }}</p>
                </div>
            {{ field.help_text }}
            {% endfor %}
            <div class="form-buttons">
                {% if newsletter %}
                    <a class="canc-button" href="{{ newsletter.get_absolute_url }}">Cancelar</a>
                {% else %}
                    <a class="canc-button" href="{% url 'newsletter:indice_newsletters' %}">Cancelar</a>
                {% endif %}
                <button class="submit-button" type="submit">Publicar</button>
            </div>
        </form>
    </div>
{% endblock maincontent_2 %}

{% block scripts %}
    <script src="{% static 'newsletter/js/post_newsletter.js' %}" ></script>
{% endblock scripts %}

