{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/confirmacao_remocao.css' %}">
{% endblock css %}

{% block title %}
    <title>McField's - Confirmar remoção</title>
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-cont-video_removal">
        <h4 class="removal-msg">Tem certeza que deseja remover o vídeo "<strong>{{ video.title }}</strong>"?</h4>
        <form action="{% url 'videos:remocao' video.id %}" method="POST">
            {% csrf_token %}
            <a class="canc-removal-button" href="{% url 'videos:detalhe_video' subject_slug=video.subject.slug slug=video.slug %}">Cancelar</a>
            <button class="conf-removal-button" type="submit">Confirmar</button>
        </form>
    </div>
{% endblock maincontent_2 %}
