{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'videos/css/detalhe_video.css' %}">
{% endblock css %}

{% block title %}
    <title>McField's - {{ video.title }}</title>
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-content-video-det">
        <iframe src="https://www.youtube.com/embed/{{ video.platform_id }}?rel=0"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
                encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <h4 id="video-title">{{ video.title }}</h4>
        <p id="video-subject">{{ video.subject }}</p>
        <div id="video-description">
            <h6 id="video-post-date">{{ video.post_date }}</h6>
            <p>{{ video.description|linebreaks }}</p>
        </div>
    </div>
{% endblock maincontent_2 %}
