#removal-msg {
    margin-bottom: 10%;
}

#canc-removal-button {
    text-decoration: none;
    text-align: center;
    background-color: #999;
    color: var(--white-color);
    padding: 5px 0px;
    border-radius: 5px;
    width: 6rem;
    align-self: end;
    border: none;
}

#conf-removal-button {
    background-color: red;
    color: var(--white-color);
    padding: 5px 0px;
    border-radius: 5px;
    width: 6rem;
    align-self: end;
    border: none;
    margin-left: 1rem;
}

form {
    display: flex;
    justify-content: end;
}