{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'servicos/css/detalhe_servico.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/pag_detalhes.css' %}">
{% endblock css %}

{% block title %}
    <title>McField's - {{ servico.title }}</title>
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-content-service-det">
        {% if perms.servicos.add_service %}
            <a id="service-adit-link" href="{% url 'servicos:adicionar' %}">Novo serviço</a>
        {% endif %}
        {% if perms.servicos.change_service %}
            <a class="update-link" href="{{ servico.get_edition_url }}">Editar</a>
        {% endif %}
        {% if perms.servicos.delete_service %}
            <a class="removal-link" href="{{ servico.get_removal_url }}">Remover</a>
        {% endif %}
        <h1 class="title">{{ servico.title }}</h1>
        <div id="service-content">{{ servico.content|safe|linebreaks }}</div>
    </div>
{% endblock maincontent_2 %}
