{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>McField's - Home</title>
{% endblock title %}

{% block maincontent %}
    <div id="top-image-div" style="background-image: url({% static 'base/img/top_picture.jpg' %})">
        <div id="top-message">
            <h2>Bem vindo!</h2>
            <h4>Alguma mensagem de boas vindas para quem visita o site, ou o que achar interessante.</h4>
        </div>
    </div>

    <div id="about-consultant">
        <img id="about-consultant-img" src="{% static 'base/img/foto_victor_02.png' %}" alt="Foto do logotipo">
        <div id="about-text-div">
            <h1 id="about-consultant-title">Sobre o consultor</h1>
            <p id="about-consultant-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio dolorum ducimus eum,
                fuga harum id, incidunt iure mollitia nisi quas quidem, quisquam quos ratione sequi sint ullam veniam
                voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur delectus
                impedit minima numquam quisquam reprehenderit tenetur? Accusamus aperiam assumenda ducimus, ex, ipsam
                iste magni neque non officia repellendus tempore!
            </p>
        </div>
    </div>

    <div id="our-services">
        <div id="our-services-div">
            <h1 id="our-services-title" >Serviços prestados</h1>
            <p id="our-services-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aut blanditiis fuga fugit inventore modi ratione rerum
                sequi soluta unde veritatis? Dolorem dolores ipsam nulla,
                optio praesentium quaerat quod repellendus. Beatae.
                Lorem ipsum dolor sit amet, consectetur.
            </p>
        </div>

        <div id="slider">
            {% for servico in servicos %}
                <div class="slide">
                    <img src="{% get_media_prefix %}{{ servico.home_picture }}" alt="Foto relacionada ao serviço prestado">
                    <h3 class="slide-title">{{ servico.title }}</h3>
                    <p class="text-slide">{{ servico.intro }}</p>
                    <a id="know-more-button" href="{{ servico.get_absolute_url }}">Saiba mais</a>
                </div>
            {% empty %}
                <p>Não há serviços adicionados.</p>
                {% if perms.servicos.add_service %}
                    <a id="service-adit-link" href="{% url 'servicos:adicionar' %}">Adicione o primeiro</a>
                {% endif %}
            {% endfor %}
            <button class="btn btn-next"><i class="bi bi-chevron-compact-right"></i></button>
            <button class="btn btn-prev"><i class="bi bi-chevron-compact-left"></i></button>
        </div>
    </div>
    <div id="benefits">
        <h1 id="benefits-title">Benefícios</h1>
        <div id="benefits-list">
            <h3 class="benefits-list-title">Economia</h3>
            <p class="benefits-list-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Impedit maxime non vel.
                Debitis dolorem dolores earum eius itaque
                magnam maiores nostrum numquam placeat
                porro, qui, sapiente similique totam ullam?
            </p>
            <h3 class="benefits-list-title">Maior produtividade</h3>
            <p class="benefits-list-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Impedit maxime non vel.
                Debitis dolorem dolores earum eius itaque
                magnam maiores nostrum numquam placeat
                porro, qui, sapiente similique totam ullam?
            </p>
            <h3 class="benefits-list-title">Melhores resultados</h3>
            <p class="benefits-list-text">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Impedit maxime non vel.
                Debitis dolorem dolores earum eius itaque
                magnam maiores nostrum numquam placeat
                porro, qui, sapiente similique totam ullam?
            </p>
        </div>
    </div>

    <div id="more-infos" style="background-image: url({% static 'base/img/background03.jpg' %})">
        <div id="more-infos-bg">
            <div id="more-infos-text">
                <h2>Ficou com alguma dúvida?</h2>
                <br>
                <h5>Entre em contato, será um prazer conhecê-lo para, juntos, buscarmos novas soluções.</h5>
            </div>
        </div>
    </div>
{% endblock maincontent %}

{% block scripts %}
    <script src="{% static 'base/js/home_page.js' %}" ></script>
{% endblock scripts %}
