{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>McField's - Home</title>
{% endblock title %}

{% block maincontent %}
    <div id="top-image-div" style="background-image: url({% static 'base/img/top_picture.jpg' %})">
        <div id="top-message">
            <h2>Bem vindo!</h2>
            <h4>Alguma mensagem de boas vindas para quem visita o site, ou o que achar interessante.</h4>
        </div>
    </div>

    <div id="about-consultant">
        <img id="about-consultant-img" src="{% static 'base/img/foto_victor_02.png' %}" alt="Foto do logotipo">
        <div id="about-text-div">
            <h1 id="about-consultant-title">Sobre o consultor</h1>
            <p id="about-consultant-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio dolorum ducimus eum,
                fuga harum id, incidunt iure mollitia nisi quas quidem, quisquam quos ratione sequi sint ullam veniam
                voluptatem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis consequuntur delectus
                impedit minima numquam quisquam reprehenderit tenetur? Accusamus aperiam assumenda ducimus, ex, ipsam
                iste magni neque non officia repellendus tempore!
            </p>
        </div>
    </div>

    <div id="our-services">
        <div id="our-services-div">
            <h1 id="our-services-title" >Serviços prestados</h1>
            <p id="our-services-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aut blanditiis fuga fugit inventore modi ratione rerum
                sequi soluta unde veritatis? Dolorem dolores ipsam nulla,
                optio praesentium quaerat quod repellendus. Beatae.
                Lorem ipsum dolor sit amet, consectetur.
            </p>
        </div>

        <div id="slider">
            <div class="slide">
                <img src="{% static 'base/img/abacate.jpg' %}" alt="Foto relacionada ao serviço prestado">
                <h3 class="slide-title">Título do serviço</h3>
                <p class="text-slide">
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                </p>
            </div>

            <div class="slide">
                <img src="{% static 'base/img/colheita.jpg' %}" alt="Foto relacionada ao serviço prestado">
                <h3 class="slide-title">Título do serviço</h3>
                <p class="text-slide">
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                </p>
            </div>

            <div class="slide">
                <img src="{% static 'base/img/exportacao.jpg' %}" alt="Foto relacionada ao serviço prestado">
                <h3 class="slide-title">Título do serviço</h3>
                <p class="text-slide">
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                </p>
            </div>

            <div class="slide">
                <img src="{% static 'base/img/plantacao.jpg' %}" alt="Foto relacionada ao serviço prestado">
                <h3 class="slide-title">Título do serviço</h3>
                <p class="text-slide">
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                    Lorem ipsum dolor sit amet, consectetur.
                    Aliquam amet autem commodi, corporis
                    cupiditate eius eligendi exercitationem.
                </p>
            </div>
            <button class="btn btn-next"><i class="bi bi-chevron-compact-right"></i></button>
            <button class="btn btn-prev"><i class="bi bi-chevron-compact-left"></i></button>
        </div>
    </div>
    <div id="beneficios">
        <h1 id="benecifios-titulo">Benefícios</h1>
        <div id="lista-beneficios">
            <h3 class="titulo-lista-beneficios">Economia</h3>
            <p class="texto-lista-beneficios">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Impedit maxime non vel.
                Debitis dolorem dolores earum eius itaque
                magnam maiores nostrum numquam placeat
                porro, qui, sapiente similique totam ullam?
            </p>
            <h3 class="titulo-lista-beneficios">Maior produtividade</h3>
            <p class="texto-lista-beneficios">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Impedit maxime non vel.
                Debitis dolorem dolores earum eius itaque
                magnam maiores nostrum numquam placeat
                porro, qui, sapiente similique totam ullam?
            </p>
            <h3 class="titulo-lista-beneficios">Melhores resultados</h3>
            <p class="texto-lista-beneficios">
                Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Impedit maxime non vel.
                Debitis dolorem dolores earum eius itaque
                magnam maiores nostrum numquam placeat
                porro, qui, sapiente similique totam ullam?
            </p>
        </div>
    </div>

    <div id="mais-infos" style="background-image: url({% static 'base/img/background03.jpg' %})">
        <div id="mais-infos-bg">
            <div id="mais-infos-text">
                <h2>Ficou com alguma dúvida?</h2>
                <br>
                <h5>Entre em contato, será um prazer conhecê-lo para, juntos, buscarmos novas soluções.</h5>
            </div>
        </div>
    </div>
{% endblock maincontent %}

{% block scripts %}
    <script src="{% static 'base/js/home_page.js' %}" ></script>
{% endblock scripts %}
