{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/pag_detalhes.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/politica_privacidade.css' %}">
{% endblock css %}

{% block title %}
    <title>McField's - Política de Privacidade</title>
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-content-privacy-policy">
        <h1>Política de Privacidade</h1>

        <p>
            A sua privacidade é importante para nós. É política do site McField's Soluções Agrícolas respeitar a sua
            privacidade em relação a qualquer informação sua que possamos coletar no site
            <a href="https://mcfields.fly.dev/" target="_blank" rel="noopener">McField's Soluções Agrícolas</a>, e outros
            sites que possuímos e operamos.
        </p>
        <p>
            Trabalhamos com base na Lei de Proteção de Dados (13.709/2018) que traz garantias de privacidade,
            confidencialidade, retenção, proteção aos direitos fundamentais de liberdade e o livre desenvolvimento da
            personalidade da pessoa. Além disso, respeitamos a Constituição Federal da República Federativa do Brasil, o
            Código de Defesa do Consumidor (Lei 8.078/90), Marco Civil da Internet (Lei 12.965/14).
        </p>
        <p></p>

        <p>
            Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço.
            Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos
            coletando e como será usado.
        </p>
        <p>
            Deixamos claro o motivo que estamos coletando e como será usado, pois tudo é feito para correta administração
            geral.
        </p>
        <p>
            Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando
            armazenamos dados, protegemos dentro de meios comercialmente aceitáveis pela legislação atual para evitar perdas
            e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
        </p>
        <p>
            Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto por determinação
            judicial.
        </p>
        <p>
            O nosso site pode ter links para sites externos que não são operados por nós. Diante disto, não nos
            responsabilizamos por danos de terceiros. Esteja ciente de que não temos controle sobre o conteúdo e práticas de
            sites de terceiros e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.
        </p>
        <p>
            Na qualidade de consumidor, você é livre para recusar a nossa solicitação de informações pessoais, entendendo que
            talvez não possamos fornecer alguns dos serviços desejados.
        </p>
        <p>
            O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e
            informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações
            pessoais, entre em contato conosco através
            <a href="https://mcfields.fly.dev/contato" target="_blank" rel="noopener">deste formulário</a>.
        </p>
        <p>
            Nossa política é atualizada de forma constante.
        </p>
        <p>
            Fica, desde já, o titular de dados ciente que o conteúdo desta Política de Privacidade pode ser alterado a
            critério do site McField's Soluções Agrícolas, independente de aviso ou notificação. Em caso de alteração, as
            modificações produzem todos os efeitos a partir do momento da disponibilização no site.
        </p>
        <p>
            O site McField's Soluções Agrícolas não se responsabiliza caso você venha utilizar seus dados de forma incorreta
            ou inverídica, ficando excluído de qualquer responsabilidade neste sentido.
        </p>
        <br>

        <h2>Política de Cookies</h2>

        <h3>O que são cookies?</h3>
        <p>
            Como é prática comum em quase todos os sites profissionais, este site usa cookies, que são pequenos arquivos
            baixados no seu computador, para melhorar sua experiência. Esta página descreve quais informações eles coletam,
            como as usamos e por que às vezes precisamos armazenar esses cookies. Também compartilharemos como você pode
            impedir que esses cookies sejam armazenados, no entanto, isso pode fazer o downgrade ou 'quebrar' certos
            elementos da funcionalidade do site.
        </p>
        <br>
        <h3>Como usamos os cookies?</h3>
        <p>
            Utilizamos cookies por vários motivos, detalhados abaixo. Infelizmente, na maioria dos casos, não existem opções
            padrão do setor para desativar os cookies sem desativar completamente a funcionalidade e os recursos que eles
            adicionam a este site. É recomendável que você deixe todos os cookies se não tiver certeza se precisa ou não
            deles, caso sejam usados para fornecer um serviço que você usa.
        </p>
        <br>
        <h3>Desativar cookies</h3>
        <p>
            Você pode impedir a configuração de cookies ajustando as configurações do seu navegador (consulte a Ajuda do
            navegador para saber como fazer isso). Esteja ciente de que a desativação de cookies afetará a funcionalidade
            deste e de muitos outros sites que você visita. A desativação de cookies geralmente resultará na desativação de
            determinadas funcionalidades e recursos deste site. Portanto, é recomendável que você não desative os
            cookies.
        </p>
        <br>
        <h3>Cookies que definimos</h3>
        <ul>
            <li>
                <strong>Cookies relacionados a boletins por e-mail</strong>
                <br>
                Este site oferece serviços de assinatura
                de boletim informativo ou e-mail e os cookies podem ser usados para lembrar se você já está registrado e se
                deve mostrar determinadas notificações válidas apenas para usuários inscritos / não inscritos.
                <br><br>
            </li>
            <li>
                <strong>Cookies relacionados a formulários</strong>
                <br>
                Quando você envia dados por meio de um formulário
                como o encontrado na página de contato, os cookies podem ser configurados para lembrar os detalhes do
                usuário para correspondência futura.
                <br>
            </li>
        </ul>
        <br>
        <h3>Outros dados coletados</h3>
        <ul>
            <li>
                <strong>Email</strong>
                <br>
                Ao preencher nosso formulário de contato, seu email poderá ser armazenado para que possibilite nosso
                retorno e esclarecimento de qualquer assunto que esteja pendente.
                <br><br>
            </li>
            <li>
                <strong>Nome</strong>
                <br>
                Assim como seu email, seu nome também poderá ser armazenado para que possamos retornar qualquer
                contato que tenha iniciado.
            </li>
        </ul>
        <br>
        <h3>Compartilhamento e segurança de informações</h3>
        <p>
            Quando feito contato através de nosso formulário, o nome e email utilizados serão armazenados em nosso
            sistema de banco de dados, estando este hospedado na plataforma Fly. Estes dados poderão ser excluídos quando o
            administrador do site McField's Soluções Agrícolas julgar que não são mais necessários.
        </p>
        <p>
            Quando cadastrado algum email através do formulário de email que se encontra no rodapé de nosso site, este será
            armazenado pelo serviço de email que contratamos (SendGrid), que tem suas próprias medidas de proteção.
        </p>
        <br>
        <h3>Compromisso do Usuário</h3>
        <p>
            O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o site McField's Soluções
            Agrícolas oferece e com caráter enunciativo, mas não limitativo:
        </p>
        <ul>
            <li>
                A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé e à ordem pública;
            </li>
            <li>
                B) Respeito a todas as legislações nacionais ou internacionais em que o Brasil é signatário;
            </li>
            <li>
                C) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, casas de apostas, jogos de sorte
                e azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;
            </li>
            <li>
                D) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do site McField's Soluções
                Agrícolas, de seus fornecedores ou terceiros, para introduzir ou disseminar vírus informáticos ou
                quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente
                mencionados;
            </li>
            <li>
                E) Os conteúdos publicados, possuem direitos autorais e de propriedade intelectual reservados, conforme
                estabelece a Lei de Direitos Autorais n. 9.610, de 19.2.1998 do Governo Federal Brasileiro e correlatas.
                Qualquer infringência, serão comunicados às autoridades competentes.
            </li>
        </ul>
        <br>

        <h2>Direitos do titular de dados</h2>
        <p>
            O titular de dados pessoais possui o direito de solicitar do site McField's Soluções Agrícolas, através do
            canal específico de tratamento, a qualquer momento, mediante requisição formal, informações referentes aos
            seus dados.
        </p>
        <p>
            Os pedidos serão analisados conforme previsto em legislação vigente dentro de um prazo de 72 horas, salvo
            determinação legal e/ou objeto de lei.
        </p>
        <p>
            Os titulares de dados, segundo o texto da LGPD, podem exercer os seus direitos por meio de:
        </p>
        <ul>
            <li>
                Confirmação da existência de tratamento;
            </li>
            <li>
                Acesso aos seus dados pessoais;
            </li>
            <li>
                Correção de dados incompletos, inexatos ou desatualizados;
            </li>
            <li>
                Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade
                com o disposto nesta Lei;
            </li>
            <li>
                Portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de
                acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial;
            </li>
            <li>
                Eliminação dos dados pessoais tratados com o consentimento do titular;
            </li>
            <li>
                Informação das entidades públicas e privadas com as quais o controlador realizou uso compartilhado de
                dados;
            </li>
            <li>
                Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;
            </li>
            <li>
                Revogação do consentimento.
            </li>
        </ul>
        <br>
        <h2>Como exercer os seus direitos de titular de dados?</h2>
        <ul>
            <li>
                Se não quiser receber nossas comunicações de marketing, pode cancelar os próximos envios clicando no
                link enviado junto ao e-mail de marketing. Importante lembrar que, ao clicar no link de descadastramento,
                o e-mail não é excluído completamente da plataforma do SendGrid, e sim adicionado a uma lista de e-mails
                descadastrados, o que é suficiente para o não recebimento. Caso seja necessário excluir o e-mail por
                completo, por favor, entre em contato através de nosso formulário solicitando a exclusão;
            </li>
            <li>
                Para as demais solicitações em relação aos direitos do titular de dados pessoais, entre em contato
                conosco.
            </li>
        </ul>
        <br>

        <h2>Mais informações</h2>
        <p>
            Esperamos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se
            precisa ou não, geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que
            você usa em nosso site.
        </p>
        <p>
            O site McField's Soluções Agrícolas empregará esforços para resguardar as informações e dados coletados do
            usuário pelo site. Todavia, considerando que não há meio de transmissão e retenção de dados eletrônicos
            plenamente eficaz e seguro, o site McField's Soluções Agrícolas não pode assegurar que terceiros não
            autorizados não logrem êxito no acesso indevido, eximindo-se de qualquer responsabilidade por danos e
            prejuízos decorrentes da conduta de terceiros, ataques externos ao site como: vírus, invasão ao banco de
            dados, vícios ou defeitos técnicos, assim como operacionais resultante da utilização do site e em razão de
            falhas de conexão.
        </p>
    </div>
{% endblock maincontent_2 %}
