{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/post_success.css' %}">
{% endblock css %}

{% block title %}
    {% if path == '/assuntos/adm/adic' %}
        <title>McField's - Adição concluída</title>
    {% else %}
        <title>McField's - Publicação concluída</title>
    {% endif %}
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-cont-sucess">
        {% if path == '/newsletter/adm/post' %}
            <h4 class="success-msg">Sua nova newsletter "<strong>{{ titulo }}</strong>" foi publicada com sucesso.</h4>
            <h5 class="redirect-msg">Acesse a página de newsletters para conferir.</h5>
        {% elif path == '/servicos/adm/adic' %}
            <h4 class="success-msg">O serviço "<strong>{{ titulo }}</strong>" foi adicionado com sucesso.</h4>
            <h5 class="redirect-msg">Acesse a home page para conferir.</h5>
        {% elif path == '/videos/adm/post' %}
            <h4 class="success-msg">O vídeo "<strong>{{ titulo }}</strong>" foi adicionado com sucesso.</h4>
            <h5 class="redirect-msg">Acesse a página de vídeos para conferir.</h5>
        {% elif path == '/assuntos/adm/adic' %}
            <h4 class="success-msg">O assunto "<strong>{{ titulo }}</strong>" foi adicionado com sucesso.</h4>
            <h5 class="redirect-msg">Acesse a página de assuntos para conferir.</h5>
        {% endif %}
    </div>
{% endblock maincontent_2 %}
