{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <!--<link rel="stylesheet" href="{% static 'base/css/remocao_concluida.css' %}">-->
{% endblock css %}

{% block title %}
    <title>McField's - Remoção não permitida</title>
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-cont-denied-removal">
        <h4 class="denied-removal-msg">
            O assunto "<strong>{{ titulo }}</strong>" não pode ser removido pois possui pelo menos um conteúdo
            relacionado. É necessário remover todos os seus conteúdos antes.
        </h4>
    </div>
{% endblock maincontent_2 %}
