{% extends 'base/base_2.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'base/css/confirmacao_remocao.css' %}">
{% endblock css %}

{% block title %}
    <title>McField's - Confirmar remoção</title>
{% endblock title %}

{% block maincontent_2 %}
    <div id="main-cont-contact_removal">
        <h4 class="removal-msg">Tem certeza que deseja remover a mensagem de <strong>{{ mensagem.name }}</strong>?</h4>
        <form action="{% url 'base:remoc_contact' mensagem.id %}" method="POST">
            {% csrf_token %}
            <a class="canc-removal-button" href="{{ mensagem.get_absolute_url }}">Cancelar</a>
            <button class="conf-removal-button" type="submit">Confirmar</button>
        </form>
    </div>
{% endblock maincontent_2 %}